/*fonte que estou utilizando do google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*{
    /*aqui estou tirando as margens que podem vir no meu site*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   
   
}

/* body{
    background-repeat: none;
} */

/*Aqui estou trabalhando com o tamanho do meu container
que é onde irá receber a minha navbar*/
.container{
    
    margin: 0 auto;

}

/*Aqui estou trabalhando com a estilização do meu header
que é a parte superior da minha página*/
header{
    height: 170px;
    background-color: #FCBA98;
    justify-content: space-between;
 
}

.menu a{
    position: relative;
    left: 50%;
    top: 1%;
    color: #653622;
    text-decoration: none;
    padding-right: 30px;
    font-size: 16px;
    font-weight: 700;
    
}

.ul-menu{
    margin-top: -4%;
   
}


/*.menu nav a::after{

    content: " ";
    width: 30px;
    height: 4px;
    color: linear-gradient(45deg, #653622 #895033);
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.5s;
}

.menu nav a:hover::after{
    width: 30px;
}*/



/* nav{
    /*posicionamento da nav
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    max-height: 40%;
    background-color: #FCBA98;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

/*.ul-navBar{    
    /*posicionamento do espaço do menu
    display: flex;
    width: 60%;
    margin: 6%;
}*/

.logo{
    /*posicionamento do logo na nav*/
    position: relative;
    top: 8%;
    left: 2%;
}

#logotipo{
    width: 94px;
    height: 113px;
}


/*
.navbar{
    /*posicionamento do espaço do menu
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    
    color: #653622;
    
}*/

.body-banner{
    /*posicionamento do banner promocional*/
    

    margin-top: -1%;
}


.formulario{
    /*posicionamento do card do formulário*/
    background: #F5F5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;  
    position: absolute;
    top: 75%;
    left: 10%;
    width: 421px;
    height: 450px;
    
}

h2{
    /*posicionamento do h2 do formulário*/
    justify-content: space-around;
    display: block;
    padding-left: 5%;
    padding-top: 4%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #895033;
}

#last_name{
    /*posicionamento do primeiro input do formulário*/
    margin-top: 3%;
    margin-left: 5%;
    box-sizing: border-box;
    width: 360px;
    height: 47px;
    background: #F5F5F5;
    border: 1px solid #E39974;
    border-radius: 58px;

}

#email{
    /*posicionamento do segundo input do formulário*/
    margin-top: 5%;
    margin-left: 5%;
    box-sizing: border-box;
    width: 360px;
    height: 47px;
    background: #F5F5F5;
    border: 1px solid #E39974;
    border-radius: 58px;
}

#company{
    margin-top: 5%;
    margin-left: 5%;
    box-sizing: border-box;
    width: 360px;
    height: 47px;
    background: #F5F5F5;
    border: 1px solid #E39974;
    border-radius: 58px;
}

#btn{
    margin-left: 5%;
    margin-top: 5%;
    font-family:'Roboto', sans-serif;
    width: 133px;
    height: 43px;
    background: #653622;
    border-radius: 55px;  
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #F5F5F5;
    
}

#termo{

    margin-left: 5%;
    
}

#promo{
    margin-left: 5%;
}

p, label{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #000000;

}




    .footer{
        /*posicionamento do footer*/
        display: flex;
        flex-direction: row;
        align-items: center ;
        position: absolute;
        width: 100%;
        height: 20%;
        background:  #FCBA98;
        box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
        
    }
    
    .icons{
        /*posicionamento dos icones no footer*/
        display: flex;
        flex-direction: row;
        width: 12%;
        padding-left: 40%;
        justify-content: space-around;
    }
        
    
    
    /*.footer-left{
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 30%;
        align-items: center;
        justify-content: flex-start;
        padding-left: 10%;
    }*/
    
    .logotipo-footer{
        /*posicionamento do logo no footer*/
        display: flex;
        padding-left: 2%;
        width: 10%;
        
    
    
    }

    